@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #5ffc7c;
    --color-secondary: #142b07;
    --color-primary-ascent: #f3fcf4;
    --color-ascent: #f8f8f8;
    --color-bg: #fcfcfc;
    --color-primary-foreground: 255 255 255;
    --color-stroke: #ededed;
    --color-error-bg: #f8eae3;
    --color-error: #d74a04;
    --color-success: #0dae2b1a;
    --color-success-bg: #0dae2b;
    --color-primary-text: #525252;
    --color-secondary-text: #999999;
  }

  .dark {
    --color-primary: #5ffc7c;
    --color-secondary: #142b07;
    --color-primary-ascent: #f3fcf4;
    --color-ascent: #f8f8f8;
    --color-bg: #fcfcfc;
    --color-primary-foreground: 255 255 255;
    --color-stroke: #ededed;
    --color-error-bg: #f8eae3;
    --color-error: #d74a04;
    --color-success: #0dae2b;
    --color-success-bg: #0dae2b1a;
    --color-primary-text: #525252;
    --color-secondary-text: #999999;
  }
}
